*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    

}

header{
    position: sticky;
    background-color: hsla(0,0%,100%,.7);
    height:90px;
}

header nav{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.logo {
    height: 32px;
}

.menu-items {
    width: 900px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}
.menu-item {
    text-decoration: none;
    margin: 0px 15px;
}
.menu-item:hover {
    color: purple;
}

@media screen and (max-width: 991px){
.menu-items {
    display: none;
}

.logo {
    margin-left: 50px;
}
}

@media screen and (min-width: 991px){
    .menu-mobile {
        display: none;
    }



    }

    .menu-mobile > img{
        height: 50px;
        width: 50px;
        margin-right: 50px;;
    }

@media screen and (max-width: 991px){
    .menu-principal-mobile{
        height: 100vh;
        width: 100vw;
        background-color: #4a25aa;
        display:block;
    }
}

    .menu-items-mobile {
        width: 900px;
        height: 30px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-left: 20px;
        margin-top: 20px;
    }

    .menu-item-mobile {
        color: white;
        text-decoration: none;
        margin-top: 30px;
        font-size: 32px;
    
       
    }

    .smaller{
    font-size: 20px;
    }

    .logo-blanco {
        height: 32px;
        margin: 20px;
    }

    .boton-cerrar{
        float: right;
        margin: 20px;
    }